@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmatie";
}

<h1>@ViewData["Title"]</h1>
<p>
    Uw paswoord is reset. <a asp-page="./Login">Klik hier om in te loggen</a>.
</p>
